<h1 style = "color:Brown">Objectives</h1>

### 1. Loading data.
### 2. Checking for missing values.
### 3. Splitting the data in to train set and test set.

In [1]:
# Import pandas and load the dataset into a dataframe
import pandas as pd

df = pd.read_csv("Churn-Modelling.csv")
print(df.head())

   CreditScore  Age  Tenure    Balance  HasCrCard     Salary  Exited
0          619   42       2       0.00          1  101348.88       1
1          608   41       1   83807.86          0  112542.58       0
2          502   42       8  159660.80          1  113931.57       1
3          699   39       1       0.00          0   93826.63       0
4          850   43       2  125510.82          1   79084.10       0

<h2 style = "color:green">pandas.isna(object)</h2>

### Detects missing values.
### Returns a boolen object of same size.
### None and np.NaN are mapped True values. Everything else gets mapped to False values.

In [2]:
# Check for missing values
pd.isna(df).sum()

CreditScore    0
Age            0
Tenure         0
Balance        0
HasCrCard      0
Salary         0
Exited         0
dtype: int64

In [3]:
print(df.describe())

        CreditScore           Age        Tenure        Balance    HasCrCard  \
count  10000.000000  10000.000000  10000.000000   10000.000000  10000.00000
mean     650.528800     38.921800      5.012800   76485.889288      0.70550
std       96.653299     10.487806      2.892174   62397.405202      0.45584
min      350.000000     18.000000      0.000000       0.000000      0.00000
25%      584.000000     32.000000      3.000000       0.000000      0.00000
50%      652.000000     37.000000      5.000000   97198.540000      1.00000
75%      718.000000     44.000000      7.000000  127644.240000      1.00000
max      850.000000     92.000000     10.000000  250898.090000      1.00000

              Salary        Exited
count   10000.000000  10000.000000
mean   100090.239881      0.203700
std     57510.492818      0.402769
min        11.580000      0.000000
25%     51002.110000      0.000000
50%    100193.915000      0.000000
75%    149388.247500      0.000000
max    199992.480000      1.000000

In [4]:
# Seperate the input features and target values.
x = df.iloc[:, 0:-1]
y = df.iloc[:, -1]
print(x.head())
print(y.head())

   CreditScore  Age  Tenure    Balance  HasCrCard     Salary
0          619   42       2       0.00          1  101348.88
1          608   41       1   83807.86          0  112542.58
2          502   42       8  159660.80          1  113931.57
3          699   39       1       0.00          0   93826.63
4          850   43       2  125510.82          1   79084.10
0    1
1    0
2    1
3    0
4    0
Name: Exited, dtype: int64

<h2 style = "color:green">x_train, x_test, y_tran, y_test = train_test_split(x, y, test_size)</h2>

### Defined in sklearn.model_selection
### test_size attribute decides the proportion of split

In [5]:
# Split the data

from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2)

print(x_train.describe())
print(x_test.describe())

       CreditScore          Age       Tenure        Balance    HasCrCard  \
count  8000.000000  8000.000000  8000.000000    8000.000000  8000.000000
mean    649.582625    39.018500     5.025125   76698.413194     0.706125
std      96.705416    10.538811     2.898930   62403.434606     0.455564
min     350.000000    18.000000     0.000000       0.000000     0.000000
25%     582.000000    32.000000     3.000000       0.000000     0.000000
50%     650.000000    37.000000     5.000000   97442.755000     1.000000
75%     717.000000    44.000000     8.000000  128044.507500     1.000000
max     850.000000    92.000000    10.000000  238387.560000     1.000000

              Salary
count    8000.000000
mean   100292.402625
std     57707.314879
min        11.580000
25%     51205.597500
50%    100185.240000
75%    150000.187500
max    199970.740000
       CreditScore          Age       Tenure        Balance    HasCrCard  \
count  2000.000000  2000.000000  2000.000000    2000.000000  2000.000000
mean    654.313500    38.535000     4.963500   75635.793665     0.703000
std      96.375803    10.274754     2.865183   62381.640408     0.457051
min     350.000000    18.000000     0.000000       0.000000     0.000000
25%     589.000000    32.000000     2.000000       0.000000     0.000000
50%     657.500000    37.000000     5.000000   96233.400000     1.000000
75%     719.250000    44.000000     7.000000  125916.280000     1.000000
max     850.000000    81.000000    10.000000  250898.090000     1.000000

              Salary
count    2000.000000
mean    99281.588905
std     56723.450852
min        96.270000
25%     50688.917500
50%    100405.680000
75%    146075.887500
max    199992.480000

#### We can use random_state keyword argument to get same set of training and testing samples.

In [6]:
import numpy as np

X = np.array([10, 20, 30, 40, 50, 60, 70, 80, 90, 100])
y = np.array([0, 0, 0, 0, 0, 1, 1, 1,  1, 1])
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=19)
print(x_train)
print(y_train)
print(x_test)
print(y_test)

[100  70  90  50  40  10  30  60]
[1 1 1 0 0 0 0 1]
[20 80]
[0 1]